<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vektor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Vektor.Properties.Settings.vvektorConnectionString"
            connectionString="server=localhost;User Id=root;password=1q1q1q;Persist Security Info=True;database=vvektor"
            providerName="MySql.Data.MySqlClient" />
        <add name="Vektor.Properties.Settings.vv2011_VIPER1_000001ConnectionString"
            connectionString="server=localhost;User Id=root;password=1q1q1q;Persist Security Info=True;database=vv2011_VIPER1_000001"
            providerName="MySql.Data.MySqlClient" />
        <add name="Vektor.Properties.Settings.vv2010_viper_000001ConnectionString"
            connectionString="server=localhost;User Id=root;password=1q1q1q;Persist Security Info=True;database=vv2010_viper_000001"
            providerName="MySql.Data.MySqlClient" />
        <add name="Vektor.Properties.Settings.vv2010_VIPER_000001ConnectionString1"
            connectionString="server=localhost;User Id=root;password=1q1q1q;Persist Security Info=True;database=vv2010_VIPER_000001"
            providerName="MySql.Data.MySqlClient" />
        <add name="Vektor.Properties.Settings.vvektorConnectionString1"
            connectionString="server=localhost;User Id=root;password=1q1q1q;database=vvektor"
            providerName="MySql.Data.MySqlClient" />
        <add name="Vektor.Properties.Settings.vvektorConnectionString2"
            connectionString="server=localhost;User Id=root;database=vvektor;password=1q1q1q;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <applicationSettings>
    <Vektor.Properties.Settings>
      <setting name="Vektor_net_cloudapp_fiskalizacijadev_GetStatus"
        serializeAs="String">
        <value>https://www.fdev.hr/StatusWS/GetStatus.asmx</value>
      </setting>
    </Vektor.Properties.Settings>
  </applicationSettings>
</configuration>
