<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vektor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Vektor.Properties.Settings.vvektorConnectionString2" connectionString="server=localhost;User Id=root;database=vvektor;password=1q1q1q;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />
        <add name="Vektor.Properties.Settings.vv2016_VIPER1_000001ConnectionString" connectionString="server=localhost;User Id=root;password=1q1q1q;Persist Security Info=True;database=vv2016_VIPER1_000001" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <Vektor.Properties.Settings>
      <setting name="Vektor_net_cloudapp_fiskalizacijadev_GetStatus" serializeAs="String">
        <value>https://www.fdev.hr/StatusWS/GetStatus.asmx</value>
      </setting>
    </Vektor.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
